.update-container{
    .slot-available{
        text-align: center;
        
        .available-header{
            border-bottom: #5088C9 solid 5px;
            margin: 0;
        }
        .available-time{
            margin: 2rem;
            font-size: 1.2rem;
            font-weight: bold;
        }
        .available-status{
            background-color: rgb(54, 184, 54);
            padding: 0.5rem 1rem;
            color: white;
        }
    }

    .slot-taken{
        text-align: center;
        .available-header{
            border-bottom: #5088C9 solid 5px;
            margin: 0;
        }
        .available-time{
            margin: 2rem;
            font-size: 1.2rem;
            font-weight: bold;
        }
        .available-status{
            background-color: rgb(184, 54, 54);
            padding: 0.5rem 1rem;
            color: white;
        }
    }

    .form-button{
        background-color: #0C3F7E;
        border-radius: 2rem;
        color:#ffffff;
        border: 0;
        cursor: pointer;
        font-weight: bold;
        font-size: 1.8rem;
        padding: .5rem 1.5rem;
        width: 20%;
    }

    .form-button:hover{
        background-color: #1257ab;
        transition: all 0.3s ease;
    }

    .link-button{
        text-decoration: none;
        background-color: #0C3F7E;
        color: white;
        padding: 1rem;
        border-radius: 2rem;
        margin-top: 1rem;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
    .link-button:hover{
        background-color: #1257ab;
        transition: all 0.3s ease;
    }
}