@page
@model BookingWebs.Pages.LoginModel
@{
    var info = ViewData["Title"];
    ViewBag.tile = "Đăng nhập";
}
<h1>@ViewBag.tile</h1>
<div class="row">
    <div class="m-2 p-3">
        <form method="post">
            @if (info != null)
            {
                <h3 style="color:red">@info</h3>
            }
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" />
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
</div>